<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.bustogoappliction">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconbus"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Mainmenu" />
        <activity android:name=".NumberBus" />
        <activity android:name=".Road" />
        <activity android:name=".StartorDestination" />
        <activity android:name=".News" />
        <activity android:name=".detail" />
        <activity android:name=".GiantSwing" />
        <activity android:name=".BangkokCityPillarShrine" />
        <activity android:name=".BorompinHall" />
        <activity android:name=".RattanakosinExhibitionHall" />
        <activity android:name=".Territorialcommandingunit" />
        <activity android:name=".Ancientartillerymuseum" />
        <activity android:name=".WatTritvatthamWorawiharn" />
        <activity android:name=".ArtGallery" />
        <activity android:name=".WatTheodoraWorawihan" />
        <activity android:name=".MuseumofSiam" />
        <activity android:name=".WatSuthepVisawaram" />
        <activity android:name=".WatSamPhraya" />
        <activity android:name=".Mahasararam" />
        <activity android:name=".ThecourtBangkok" />
        <activity android:name=".WatRajatataramWorawihan" />
        <activity android:name=".WatPhraKaew" />
        <activity android:name=".WatPho" />
        <activity android:name=".PromPalace" />
        <activity android:name=".NaranatSuntarikaram" />
        <activity android:name=".WatMahathat" />
        <activity android:name=".WatKutthakararam" />
        <activity android:name=".WatMahanaram" />
        <activity android:name=".Interior"></activity>
    </application>

</manifest>